{% extends "base.html" %}
{% load static %}

{% block content %}
    <div class="d-flex justify-content-between">
        <h2>{{message}}</h2>
        <a class="text-dark" style="text-decoration: none;" href="{% url 'index' %}"> <<< Back to Home</a>
    </div>

    <form method="POST" class="model-form">
        {% csrf_token %}
            {{form.as_p}}
            <button type='submit' class="btn btn-success">Save</button>
    </form>
{% endblock %}

    