{% extends "base.html" %}
{% load static %}

<h2>{{message}}</h2>


{% block content %}
    <div class="d-flex justify-content-end mb-2">
        <a class="" href="{% url 'create' %}">
            <button type="button" class="btn btn-primary">Create User</button>
        </a>
    </div>
    <table>
        <tr>
            <th>User ID</th>
            <th>Firstname</th>
            <th>Middlename</th>
            <th>Lastname</th>
            <th>Extensionname</th>
            <th>Birthdate</th>
            <th>Action</th>
        </tr>
        {% for user in users %}
        <tr>
            <th>
                {{user.id}}
            </ht>
            <th>
                {{user.firstname}}
            </ht>
            <th>
                {{user.middlename}}
            </ht>
            <th>
                {{user.lastname}}
            </ht>
            <th>
                {{user.extname}}
            </ht>
            <th>
                {{user.birthdate}}
            </th>
            <th>
                <a href="{% url 'update' pk=user.id %}">
                    <button type="button" class="btn btn-warning">Edit</button>
                </a>
                <a href="{% url 'delete' pk=user.id %}">
                    <button type="button" class="btn btn-danger">Delete</button>
                </a>
            </th>
        </tr>
        {% endfor %}
    </table>
{% endblock %}
